<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682674226016-vad4ndpgnmkq77oqungsqv0lois2ijp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682674226016-vad4ndpgnmkq77oqungsqv0lois2ijp9</string>
	<key>API_KEY</key>
	<string>AIzaSyB9e1aSbVCvSF_REdhpPMXp1CF3jClxEpM</string>
	<key>GCM_SENDER_ID</key>
	<string>682674226016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdobest</string>
	<key>PROJECT_ID</key>
	<string>abdobest-9ffec</string>
	<key>STORAGE_BUCKET</key>
	<string>abdobest-9ffec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682674226016:ios:79ab27364a324e0ad15405</string>
</dict>
</plist>